body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.app-container {
    width: 800px;
    text-align: center;
    padding: 40px 0;
}

.panel {
    background-color: var(--panel-background-color);
    border: 6px solid var(--panel-border-color);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
    padding: 10px;
}

.header_text {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer button {
    width: 150px;
    height: 50px;
    background-color: var(--button-background-color);
    font-size: 20px;
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.9);
    border: 5px solid var(--button-border-color);
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    cursor: pointer;
}

.footer button:hover {
    background-color: var(--button-hover-color);
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    background-color: var(--board-background-color);
    border: 8px solid var(--board-border-color);
    border-radius: 20px;
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}
